input {
  color:blue;
}
div input{
  color: green;
}

@keyframes animar{
  from{
    background-color:yellow;
    width:199;
  }
  to{
    background-color:blue;
    width:199;
  }
}

input[type="submit"]{
  //animation-name: animar;
  //animation-duration: 20s;
}
